{% extends "erase.html.twig" %}


{% block updateButtonLink %}{{path('Uploaditem2_2')}}{% endblock %}


{% block pathSuccess %}{{path('item2_2')}}{% endblock %}

{% block eraseThemeItem %}item2_2{% endblock eraseThemeItem %}


{% block destroyItem %}

    <a href="{{ path('DestroyItem2_2', {'basename' :basename,'id': id ,'images_id': images_Id } ) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}