{% extends "erase.html.twig" %}


{% block updateButtonLink %}{{path('UploadItem2_1')}}{% endblock %}


{% block pathSuccess %}{{path('item2_1')}}{% endblock %}

{% block eraseThemeItem %}item2_1{% endblock eraseThemeItem %}


{% block destroyItem %}

    <a href="{{ path('DestroyItem2_1', {'basename' :basename,'id': id ,'images_id': images_Id } ) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}